@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}


    <h1>Ethan Spilker</h1>
    <img src="img/IMG_5501 (1).jpg" / width="250" height="300">

    <p>
        There are several things that I hope to get out of this class. The first thing I hope to get, is a good grade. I wouldn't mind an A or A-.
        <br />Jokes aside I hope to learn valuable development skills that can land me good job.
        <br />I hope to build a solid foundation of the C# and the .NET framework.
        <br />Most of all, I hope to learn skills that will make me $$$ ;)
    </p>
    <br />
    <br />
    <ul>
        Top 3 Jobs (I honestly haven't really thought aobut it yet)
        <li>Something in Cybersecurity (pen-testing sounds fun)</li>
        <li>Something in develpment (I like programming)</li>
        <li>Full-Stack Devloper</li>
    </ul>
    <br />
    

